  /* Estilos para la pagína de login */

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../../static/img/fondo_escuela.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }  
  
  .login-container {
    background-color: rgba(242, 242, 242, 0.89); 
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 2px solid #000000; 
    border-radius: 10px; 
  }  
  
  h2 {
    color: #000000; 
    font-weight: 600; 
  }
  
  .form-control:focus {
    border-color: #e60000;
    box-shadow: none;
  }
  
  .btn-danger {
    background-color: #e60000;
    border-color: #e60000;
  }
  
  .btn-danger:hover {
    background-color: #b30000;
    border-color: #b30000;
  }
  
  .footer a {
    color: #e60000;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }


  #sidebar .nav-link {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

#sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.table-striped tbody tr:hover {
    background-color: #f2f2f2;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}